<form class="px-5 py-5 mx-5 my-5 bg-green-100 border-black">
<div class="mb-1">
    <label class="font-bold">Log in!</label>
    <div class="section-body row">
        <div class="col-12">
            <div class="input-control">
                <input class="input-contains-icon input-contains-icon-left input-contains-icon-right text-success input-success" type="text" placeholder="Email" value="somebodyoncetoldme@gmail.com" />
                <span class="icon icon-left"><i class="fa fa-wrapper fa-envelope" aria-hidden="true"></i></span>
                <span class="icon icon-right"><i class="fa fa-wrapper fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
</div>
<div class="mb-1">
    <label class="font-bold">Password <span class="info inline font-light">Please use a unique password</span></label>
    <div class="section-body">
        <div class="form-group">
            <input type="password" class="form-group-input" placeholder="Enter your unique password" />
        </div>
    </div>
</div>
<input type="submit" value="sumbit"/>
</form>